@use "../utils/colors.scss";
@use "../utils/variables.scss";

footer {
    background-color: colors.$darkgrey;
    margin-left: 7rem;
    margin-right: 7rem;
    padding: 1rem 2rem;
    color: white;
    @media (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
    }
    h2 {
        font-family: "shrikhand", "sans-serif";
        font-weight: normal;
        padding: 0.5rem 0 0.5rem;
        margin-bottom: 0.5rem;
    }
   p {
    padding: 0.2rem;

   }
   .utensils {
    padding-right: 0.8rem;
   }
   .helping {
    padding-right: 0.5rem;
   }
}