.pays-villes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(236, 235, 235);
    text-align: center;
    padding: 0.5px;
    & i {
        font-size: 1.5rem;
    }
}