@use "../utils/mixins.scss";

h1 {
    font-family: "Shrikhand", "cursive";
}
img {
    max-width: 100%;
}
.resto__main {
    position: relative;
    @include mixins.heart;
    h2 {
        font-family: "Shrikhand", "cursive";
        padding-top: 0;
        margin-left: 2rem;
        @media (max-width: 767px) {
            margin-left: 0;
        }
    }
    i {
        margin-right: 3rem;
        @media (max-width: 767px) {
            margin-right: 2rem;
        }
    }

}

